<mat-grid-list class="day" cols="1" gutterSize="5px" rowHeight="10:1">
  <mat-grid-tile class="day__tile">
    <mat-card class="day__tile__card">
      <mat-card-title>Breakfast</mat-card-title>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile class="day__tile">
    <mat-card class="day__tile__card">
      <mat-card-title>Morning Snack</mat-card-title>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile class="day__tile">
    <mat-card class="day__tile__card">
      <mat-card-title>Lunch</mat-card-title>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile class="day__tile">
    <mat-card class="day__tile__card">
      <mat-card-title>Afternoon Snack</mat-card-title>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile class="day__tile">
    <mat-card class="day__tile__card">
      <mat-card-title>Diner</mat-card-title>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
