<mat-toolbar color="primary" *ngIf="!(isHandset$ | async)">

  <a mat-flat-button color="primary" routerLink="/" aria-label="Homepage">
    <mat-icon>lunch_dining</mat-icon>
    {{title}}
  </a>
  <a mat-button *ngFor="let menuItem of menuItems" [routerLink]="menuItem.path" routerLinkActive="active-route" aria-label="Link to page">
    <mat-icon>{{menuItem.data?.icon}}</mat-icon>
    {{menuItem.data?.title}}
  </a>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container" *ngIf="isHandset$ | async">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar (click)="drawer.close()">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item *ngFor="let menuItem of menuItems" [routerLink]="menuItem.path" [href]="menuItem.path" (click)="drawer.close()">{{menuItem.data?.title}}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">lunch_dining</mat-icon>
      </button>
      <span>{{title}}</span>
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
