@use '~@angular/material' as mat;
@use 'sass:map';
@use 'lp-theming' as theme;

// Angular Material
@import 'lp-theming';
@include mat.all-component-themes($lp-theme);

$background: map.get(theme.$lp-theme, background);

body, html, lp-root {
  width: 100%;
  max-width: 100vw;
  height: 100%;
  margin: 0;
}

body {
  background-color: mat.get-color-from-palette($background, background);
}


lp-root{
  display: flex;
  flex-flow: column;
}

/**
 * Reset `box-sizing` for all elements
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}
